
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}


.container {
    width: 100vw;
    height: 100vh;
    background-color: rebeccapurple;
    display: grid;
    place-content: center;
}




