
@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}


.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container:last-child {
    justify-self: flex-end;
}




